<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    {{js_resources | safe}} {{css_resources | safe}} {{plot_script | safe}}
  </head>
  <body>
    <table>
      <tr>
        <td>
          {{plot_div|safe}}
        </td>
        <td>
          <form id="input" method="post" action="index">
            <select name="Data">
              <option value="none">None</option>
              <option value="followers">Followers</option>
              <option value="friends">Friends</option>
              <option value="tweets">Tweets</option>
            </select>
            <br />
            <input type="submit" value="Submit" />
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
